.container-features{
  background-color: #f9f9f9;
  margin-right: 11.7px;
}
.feature-animate {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .feature-animate:hover .bi {
    transform: scale(1.1);
  }

  .features-icon {
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 20px;
    transition: color 0.3s ease;
  }
  
  .card-body:hover .features-icon {
    color: #0056b3;
  }
  
  .features-title {
    color: #007bff;
  }
  
  .card-body:hover .features-title {
    color: #0056b3;
  }

  .features-description {
    font-size: 1rem;
    color: #777;
    margin-bottom: 25px;
  }