.service-container {
  background-color: #f9f9f9;
  margin-right: 11.8px;
}

.service-box {
  position: relative;
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  text-align: center;
}

.service-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.service-icon {
  font-size: 3rem;
  color: #007bff;
  margin-bottom: 20px;
  z-index: 1; /* Menempatkan ikon di atas overlay */
}

.service-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: #007bff;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.service-box:hover .service-title {
  color: #0056b3;
}

.service-description {
  font-size: 1rem;
  color: #777;
  margin-bottom: 25px;
}

.service-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  opacity: 0.8; /* Agar gambar sedikit transparan untuk memperjelas teks */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Efek transparan gelap */
  border-radius: 15px;
  z-index: 0; /* Menempatkan overlay di bawah teks dan ikon */
}

.service-box:hover .service-image {
  opacity: 1; /* Mengembalikan gambar ke transparansi penuh saat hover */
}

@media (max-width: 768px) {
  .service-box {
    padding: 20px;
  }
  .service-title {
    font-size: 1.5rem;
  }
  .service-description {
    font-size: 0.9rem;
  }
}
