html,
body {
  height: 100%;
  margin: 0;
  background-color: #f9f9f9;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #212529;
}

.card-img-container:hover img {
  transform: scale(1.1);
}

.card-img-container:hover .card-img-overlay {
  opacity: 1;
}

.card:hover {
  transform: translateY(-10px);
}

.btn-primary:hover {
  background-color: #28a745;
  transition: background-color 0.3s ease;
}

/* About Page */

.container-about .img-fluid:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.container-about h2, 
.container-about h3 {
  transition: color 0.3s ease;
}

.container-about h2:hover,
.container-about h3:hover {
  color: #28a745;
}

.container-about {
  max-width: 1200px;
  margin: auto;
}

.container-about p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.8;
}

/* Navbar */
@media (max-width: 991px) {
  .nav-item span{
    display: none;
  }
}

/* Hero Section */

.hero-section {
  transition: background-image 1s ease-in-out;
}

.hero-section .fade-in {
  opacity: 1;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



