/* Pastikan body dan html mengambil tinggi penuh */
html, body {
  height: 100%;
  margin: 0; /* Menghilangkan margin default */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Konten utama di halaman */
.main-content {
  flex: 1; /* Membuat konten utama fleksibel agar footer didorong ke bawah */
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; /* Warna latar belakang footer */
  color: #212529; /* Warna teks footer */
}
